@font-face {
  font-family: "Nico Moji";
  src: url("../assets/NicoMoji-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-nico {
  font-family: "Nico Moji", sans-serif;
}
